 html {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
   text-align: center;
   font-family: system-ui;
   text-shadow: 1px 1px 5px black;
   color: whitesmoke;
   font-size: 18px;
 }

 main {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
   width: auto;
   min-height: 700px;
   background-image: url("https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHNlYW1sZXNzJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
   background-size: cover;
 }

 #header {
   background-image: url("https://free4kwallpapers.com/uploads/originals/2015/09/02/grey-honeycomb-pattern.jpg");
   background-size: cover;
   text-align: center;
   font-weight: 700;
   min-height: 120px;
   margin: 0;
   padding: 0;
   border-top-style: inset;
 }

 a {
   background-image: url("https://free4kwallpapers.com/uploads/originals/2015/09/02/grey-honeycomb-pattern.jpg");
   background-size: cover;
   display: block;
   border: 2px solid gray;
   border-radius: 10px;
   justify-content: center;
   text-align: center;
   padding: 5px;
   text-decoration: none;
   cursor: pointer;
   color: whitesmoke;
 }

 body {
   box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
   max-width: 1000px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.433), rgba(0, 0, 0, 0.638)), url("https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHNlYW1sZXNzJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
   background-size: cover;
 }

 button {
   background-image: url("https://free4kwallpapers.com/uploads/originals/2015/09/02/grey-honeycomb-pattern.jpg");
   background-size: cover;
   font-weight: 700;
   background-color: gray;
   padding: 10px;
   margin-bottom: 15px;
   border-radius: 10px;
   cursor: pointer;
   color: whitesmoke;

 }

 .deleteThis {
   border-radius: 50%;
   font-size: 15px;
   padding: 0;
   margin: 0;
 }

 #filler {
   padding-bottom: 5px;
   margin: 0;
 }

 button:hover, a:hover {
   opacity: calc(0.6);
 }

 .col {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 ul {
   display: flex;
   flex-direction: row;
   align-items: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
   flex-wrap: wrap;
   justify-content: center;
 }

 li {
   margin-right: 20px;
 }

 table {
   color: white;
   background-image: linear-gradient(rgba(85, 85, 85, 0.433), rgba(70, 70, 70, 0.638)), url("https://free4kwallpapers.com/uploads/originals/2015/09/02/grey-honeycomb-pattern.jpg");
   background-size: auto;
   border-radius: 4px;
   padding: 5px;
   margin: 5px 5px;
   text-align: center;
   box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
 }

 input {
   color: white;
   background-color: gray;
   width: 50px;
   height: 30px;
   text-align: center;
   margin: 10px;
   font-size: 18px;
   font-weight: 700;
   border-radius: 10%;
 }

 footer {
   background-image: url("https://free4kwallpapers.com/uploads/originals/2015/09/02/grey-honeycomb-pattern.jpg");
   background-size: cover;
   text-align: center;
   font-weight: 700;
   min-height: 50px;
   margin: 0;
   padding-top: 5px;
 }

 @media (max-width:450px) {
   html {
     font-size: 13px;
   }

   input {
     font-size: 13px;
   }
 }